.hello-world-setting input {
  margin-left: 10px;
}

.hello-world-setting .add-output-coordinate{
  margin-bottom: 7px;
  cursor: pointer;
  display: inline-block;
}

.hello-world-setting .add-output-coordinate-icon{
  background-image: url(images/add_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
}

.hello-world-setting .add-output-coordinate-label{
  font-size: 14px;
  color: #518dca;
  margin-left: 10px;
  /* line-height: 24px; */
  display: inline-block;
  height: 100%;
  text-decoration: underline;
}